-------------------------------------------------------------
| _               _           _                             |
|| |__  _ __ __ _(_)_ __  ___| |                            |
|| '_ \| '__/ _` | | '_ \/ __| |                            |
|| |_) | | | (_| | | | | \__ \_|                            |
||_.__/|_|  \__,_|_|_| |_|___(_)                            |
|-----------------------------------------------------------|
| zombie revolution environment simulator                   |
-------------------------------------------------------------
STATUS: 250 humans and 250 zombies live there.    
INFO: let's start the story...                             
BORN: 1 human was born. his name is bob. 251 humans alive.
SUPPORT: saving private ryan. zombie edition. the humans get 15 people support. 266 humans alive
INFO: humans:266 - fights won:0 - round:4
SUPPORT: some evil ninjas joined the humans. the humans get 42 people support. 308 humans alive
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 14 zombies vs. 66 humans. zombies win. 7 humans died.
SUPPORT: saving private ryan. zombie edition. the humans get 158 people support. 459 humans alive
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 64 humans vs. 61 zombies. humans win. 25 zombies died.
SUPPORT: some policemen joined the humans. the humans get 18 people support. 477 humans alive
SUPPORT: some policemen joined the humans. the humans get 338 people support. 815 humans alive
ATTACK: zombies raid a farm near the city!
ATTACK: 226 zombies vs. 22 humans. zombies win. 8 humans died.
ATTACK: humans raid the zombies headerquarter.
ATTACK: 274 humans vs. 42 zombies. humans win. 18 zombies died.
BORN: 1 human was born. it's a pirate! argh. 808 humans alive.
ATTACK: the army sent a huge amount of weapons to the civils.
ATTACK: 344 humans vs. 148 zombies. humans win. 64 zombies died.
ATTACK: zombies hijacked a garbage truck! it crashed into the non-swimmer's pool.
ATTACK: 62 humans vs. 341 zombies. humans win. 33 zombies died.
BORN: 1 human was born. his name is bob. 809 humans alive.
ATTACK: there is no zombie content without shotguns. humans attack zombies with thier shotguns.
ATTACK: 118 humans vs. 90 zombies. humans win. 2 zombies died.
SUPPORT: some zombies called friends to destroy the humans. the zombies get 41 undeads support. 149 zombies alive
ATTACK: zombies raid a farm near the city!
ATTACK: 65 humans vs. 329 zombies. humans win. 54 zombies died.
DIED: 1 zombie died. he lost his legs. 94 zombies alive.
SUPPORT: some zombies called friends to destroy the humans. the zombies get 57 undeads support. 151 zombies alive
BORN: 1 zombie awaked! it's dr. hills project. 152 zombies alive.
ATTACK: zombies raid a liquoer store. drunken zombies crossing.
ATTACK: 87 humans vs. 126 zombies. humans win. 22 zombies died.
DIED: 1 humand died. he ran into a rake. 808 humans alive.
BORN: 1 zombie awaked! coffee at his grave. 131 zombies alive.
DIED: 1 humand died. his lolcat killed him. 807 humans alive.
DIED: 1 humand died. his lolcat killed him. 806 humans alive.
SUPPORT: another graveyard has opened. the zombies get 32 undeads support. 163 zombies alive
SUPPORT: saving private ryan. zombie edition. the humans get 469 people support. 1275 humans alive
DIED: 1 zombie died. he watched the sunrise. 162 zombies alive.
SUPPORT: some evil ninjas joined the humans. the humans get 1038 people support. 2313 humans alive
INFO: humans:2313 - fights won:7 - round:32
DIED: 1 zombie died. he lost his legs. 161 zombies alive.
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 259 humans vs. 160 zombies. humans win. 30 zombies died.
SUPPORT: some zombies called friends to destroy the humans. the zombies get 76 undeads support. 207 zombies alive
ATTACK: humans raid the zombies headerquarter.
ATTACK: 1165 humans vs. 137 zombies. humans win. 99 zombies died.
BORN: 1 human was born. it was a cold night, about 9 month ago... 2314 humans alive.
INFO: humans:2314 - fights won:9 - round:38
DIED: 1 zombie died. he lost his legs. 107 zombies alive.
DIED: 1 zombie died. he watched the sunrise. 106 zombies alive.
INFO: humans:2314 - fights won:9 - round:41
DIED: 1 humand died. judgement: electric chair for useless use of cat in bashscripts. 2313 humans alive.
SUPPORT: some evil ninjas joined the humans. the humans get 987 people support. 3300 humans alive
SUPPORT: some zombies called friends to destroy the humans. the zombies get 44 undeads support. 150 zombies alive
ATTACK: humans raid the zombies headerquarter.
ATTACK: 1268 humans vs. 148 zombies. humans win. 147 zombies died.
SUPPORT: a green toxic cloud over the graveyard results? the zombies get 3 undeads support. 6 zombies alive
SUPPORT: saving private ryan. zombie edition. the humans get 864 people support. 4164 humans alive
BORN: 1 zombie awaked! brains. uargh. 7 zombies alive.
INFO: zombies:7 - fights won:2 - round:49
SUPPORT: some evil ninjas joined the humans. the humans get 961 people support. 5125 humans alive
ATTACK: humans developed counter-poison. a new hope?
ATTACK: 1207 humans vs. 3 zombies. humans win. 1 zombies died.
DIED: 1 zombie died. he watched the sunrise. 5 zombies alive.
BORN: 1 zombie awaked! omg. it's michael jackson.  6 zombies alive.
BORN: 1 human was born. it was a cold night, about 9 month ago... 5126 humans alive.
DIED: 1 zombie died. he watched the sunrise. 5 zombies alive.
INFO: zombies:5 - fights won:2 - round:56
DIED: 1 humand died. he ran into a rake. 5125 humans alive.
BORN: 1 zombie awaked! it's dr. hills project. 6 zombies alive.
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 2977 humans vs. 3 zombies. humans win. 1 zombies died.
BORN: 1 zombie awaked! it's dr. hills project. 6 zombies alive.
BORN: 1 zombie awaked! brains. uargh. 7 zombies alive.
DIED: 1 humand died. he ran into a rake. 5124 humans alive.
BORN: 1 human was born. it's a pirate! argh. 5125 humans alive.
DIED: 1 humand died. judgement: electric chair for useless use of cat in bashscripts. 5124 humans alive.
SUPPORT: what has a dogs head, a cats tail, and brains all over its face? A Zombie coming out of the pet store. the zombies get 6 undeads support. 13 zombies alive
INFO: humans:5124 - fights won:12 - round:66
BORN: 1 human was born. his name is bob. 5125 humans alive.
INFO: humans:5125 - fights won:12 - round:68
DIED: 1 zombie died. he lost his legs. 12 zombies alive.
ATTACK: zombies hijacked a garbage truck! it crashed into the non-swimmer's pool.
ATTACK: 12 humans vs. 2666 zombies. humans win. 12 zombies died.
STATUS: HUMANS WIN!
* HUMANS: 5125 - FIGHTS WON: 13
* ZOMBIES: 0 - FIGHTS WON: 2
* ROUNDS: 70
