-------------------------------------------------------------
| _               _           _                             |
|| |__  _ __ __ _(_)_ __  ___| |                            |
|| '_ \| '__/ _` | | '_ \/ __| |                            |
|| |_) | | | (_| | | | | \__ \_|                            |
||_.__/|_|  \__,_|_|_| |_|___(_)                            |
|-----------------------------------------------------------|
| zombie revolution environment simulator                   |
-------------------------------------------------------------
STATUS: 500 humans and 500 zombies live there.    
INFO: let's start the story...                             
BORN: 1 zombie awaked! brains. uargh. 501 zombies alive.
BORN: 1 human was born. his name is bob. 501 humans alive.
DIED: 1 humand died. judgement: electric chair for useless use of cat in bashscripts. 500 humans alive.
ATTACK: 77 zombies raid a farm near the city! 113 humans live there!
ATTACK FAILED: the zombies failed. 19 of them died. too much mistgabeln.
STATUS: 19 zombies died! 482 zombies left.
ATTACK: 282 zombies raid a farm near the city! 359 humans live there!
ATTACK FAILED: the zombies failed. 70 of them died. too much mistgabeln.
STATUS: 70 zombies died! 412 zombies left.
ATTACK: 363 zombies raid a farm near the city! 437 humans live there!
ATTACK FAILED: the zombies failed. 278 of them died. too much mistgabeln.
STATUS: 278 zombies died! 134 zombies left.
BORN: 1 human was born. his name is bob. 501 humans alive.
STATUS: what has a dogs head, a cats tail, and brains all over its face? A Zombie coming out of the pet store. the zombies get 65 undeads support! 199 zombies alive
ATTACK: the humans requested an airstrike by the nato. and get it. 99 zombies killed.
ATTACK: there is no zombie content without shotguns. humans killed 6 zombies with shotguns.
ATTACK: 4 insane humans killed 9 zombies and themself
BORN: 1 zombie awaked! it's dr. hills project. 86 zombies alive.
BORN: 1 human was born. it's pirate! argh. 498 humans alive.
BORN: 1 zombie awaked! it's dr. hills project. 87 zombies alive.
STATUS: another graveyard has opened. the zombies get 25 undeads support! 112 zombies alive
BORN: 1 zombie awaked! coffee at his grave. 113 zombies alive.
ATTACK: 120 humans developed some counter-poison and attacked 19 zombies.
ATTACK SUCCESSFUL: 16 zombies are now humans. welcome back!
STATUS: 16 zombies are gone! 97 zombies left.
ATTACK: there is no zombie content without shotguns. humans killed 8 zombies with shotguns.
ATTACK: 236 humans developed some counter-poison and attacked 22 zombies.
ATTACK SUCCESSFUL: 19 zombies are now humans. welcome back!
STATUS: 19 zombies are gone! 70 zombies left.
ATTACK: 66 zombies raid a farm near the city! 476 humans live there!
ATTACK FAILED: the zombies failed. 37 of them died. too much mistgabeln.
STATUS: 37 zombies died! 33 zombies left.
DIED: 1 humand died. he ran into a rake. 532 humans alive.
ATTACK: 3 insane humans killed 6 zombies and themself
ATTACK: 493 humans developed some counter-poison and attacked 17 zombies.
ATTACK SUCCESSFUL: 13 zombies are now humans. welcome back!
STATUS: 13 zombies are gone! 14 zombies left.
STATUS: a green toxic cloud over the graveyard results? the zombies get 3 undeads support! 17 zombies alive
DIED: 1 zombie died. he lost his legs. 16 zombies alive.
STATUS: what has a dogs head, a cats tail, and brains all over its face? A Zombie coming out of the pet store. the zombies get 14 undeads support! 30 zombies alive
ATTACK: the humans requested an airstrike by the nato. and get it. 20 zombies killed.
BORN: 1 human was born. it was a cold night, about 9 month ago... 543 humans alive.
ATTACK: zombies hijacked a garbage truck! it crashed into the non-swimmer's pool. 12 humans killed.
DIED: 1 humand died. his lolcat killed him. 530 humans alive.
BORN: 1 zombie awaked! omg. it's michael jackson.  11 zombies alive.
BORN: 1 human was born. her name is alice. 531 humans alive.
ATTACK: there is no zombie content without shotguns. humans killed 10 zombies with shotguns.
ATTACK: there is no zombie content without shotguns. humans killed 2 zombies with shotguns.
STATUS: HUMANS WIN!
* HUMANS: 531 - FIGHTS WON: 15
* ZOMBIES: 0 - FIGHTS WON: 1

