### template for zombie attack 
#

# define a unique function name
zombie_attack() {

	# add a short message
    echo "ATTACK: zombies raid a farm near the city!"

	# use built-in attack_by function from zre (see lib/attack.lib for details)
    attack_by zombies
}