-------------------------------------------------------------
| _               _           _                             |
|| |__  _ __ __ _(_)_ __  ___| |                            |
|| '_ \| '__/ _` | | '_ \/ __| |                            |
|| |_) | | | (_| | | | | \__ \_|                            |
||_.__/|_|  \__,_|_|_| |_|___(_)                            |
|-----------------------------------------------------------|
| zombie revolution environment simulator                   |
-------------------------------------------------------------
STATUS: 250 humans (100|100) live there.
STATUS: 250 zombies (120|80) live there.
INFO: let's start at day 1
BUILDING: humans started to build a rocket station to defeat zombies. rocket station status: (1|7)
DIED: 1 zombie died. he lost his legs. 249 zombies alive.
SUPPORT: a green toxic cloud over the graveyard results? the zombies get 114 undeads support. 363 zombies alive
INFO: humans:250(100|100) wins:0 day:4
BORN: 1 zombie awaked! vegetarian zombie. grains! 364 zombies alive.
DIED: 1 zombie died. he watched the sunrise. 363 zombies alive.
SUPPORT: some policemen joined the humans. the humans get 8 people support. 258 humans alive
STATS: humans built a wall around their city. 
STATS: human defense was raised up to 107
DIED: 1 humand died. judgement: electric chair for useless use of cat in bashscripts. 257 humans alive.
DIED: 1 zombie died. farmished, maybe? 362 zombies alive.
DIED: 1 humand died. judgement: electric chair for useless use of cat in bashscripts. 256 humans alive.
INFO: humans:256(100|107) wins:0 day:12
SUPPORT: saving private ryan. zombie edition. the humans get 99 people support. 355 humans alive
STATS: humans built a wall around their city. 
STATS: human defense was raised up to 127
BUILDING: further steps by building the rocket station. rocket station status: (2|7)
DIED: 1 humand died. his lolcat killed him. 354 humans alive.
STATS: zombies learned to resist against sunlight. 
STATS: zombie defense was raised up to 89
STATS: zombies learned to resist against sunlight. 
STATS: zombie defense was raised up to 110
STATS: zombies learned to handle chainsaws. rawr. 
STATS: zombie strength was raised up to 121
BUILDING: further steps by building the rocket station. rocket station status: (3|7)
INFO: humans:354(100|127) wins:0 day:21
INFO: zombies:362(121|110) wins:0 day:22
BORN: 1 human was born. he will be the next bofh. 355 humans alive.
DIED: 1 humand died. he ran into a rake. 354 humans alive.
BUILDING: further steps by building the rocket station. rocket station status: (4|7)
DIED: 1 humand died. he ran into a rake. 353 humans alive.
ATTACK: the army sent a huge amount of weapons to the civils.
ATTACK: 305 humans vs. 161 zombies. 55 zombies died. humans win. (30500|17710)
ATTACK: zombies raid a pet shop!
ATTACK: 72 zombies vs. 162 humans. 7 zombies died. humans win. (8712|20574)
STATS: humans got ak-47s as weapons. 
STATS: human strength was raised up to 102
WEATHER: snow in the city.
BUILDING: further steps by building the rocket station. rocket station status: (5|7)
ATTACK: the army sent a huge amount of weapons to the civils.
ATTACK: 151 humans vs. 264 zombies. 62 humans died. zombies win. (15402|29040)
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 263 humans vs. 173 zombies. 154 zombies died. humans win. (26826|19030)
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 47 humans vs. 73 zombies. 9 humans died. zombies win. (4794|8030)
DIED: 1 zombie died. he watched the sunrise. 145 zombies alive.
ATTACK: zombies raid a liquoer store. drunken zombies crossing.
ATTACK: 86 zombies vs. 103 humans. 7 zombies died. humans win. (10406|13081)
BORN: 1 human was born. it was a cold night, about 9 month ago... 283 humans alive.
BORN: 1 zombie awaked! omg. it's michael jackson.  139 zombies alive.
STATS: humans built a wall around their city. 
STATS: human defense was raised up to 144
DIED: 1 zombie died. he watched the sunrise. 138 zombies alive.
BORN: 1 zombie awaked! brains. uargh. 139 zombies alive.
INFO: humans:283(102|144) wins:4 day:42
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 2 humans vs. 125 zombies. 2 humans died. zombies win. (204|13750)
DIED: 1 zombie died. he lost his legs. 138 zombies alive.
BUILDING: further steps by building the rocket station. rocket station status: (6|7)
BORN: 1 zombie awaked! brains. uargh. 139 zombies alive.
DIED: 1 zombie died. he watched the sunrise. 138 zombies alive.
COLLECTING: zombies started to collect biohazard trash to defeat humans. biohazard trash status: (1|7)
WEATHER: gna. about 40 degrees. heat.
INFO: zombies:138(121|110) wins:3 day:50
BORN: 1 zombie awaked! vegetarian zombie. grains! 139 zombies alive.
BORN: 1 zombie awaked! vegetarian zombie. grains! 140 zombies alive.
ATTACK: humans developed counter-poison. a new hope?
ATTACK: 7 humans vs. 53 zombies. 1 humans died. zombies win. (714|5830)
BORN: 1 zombie awaked! omg. it's michael jackson.  141 zombies alive.
INFO: zombies:141(121|110) wins:4 day:55
BUILDING: finally the rocket station is ready! rocket station status: (7|7)
ATTACK: the humans send their rocket to the zombies!
ATTACK: 58 zombies killed! 83 zombies alive
STATS: humans built a wall around their city. 
STATS: human defense was raised up to 168
SUPPORT: some policemen joined the humans. the humans get 76 people support. 356 humans alive
ATTACK: the humans send their rocket to the zombies!
ATTACK: 43 zombies killed! 40 zombies alive
ATTACK: the army sent a huge amount of weapons to the civils.
ATTACK: 346 humans vs. 8 zombies. 7 zombies died. humans win. (35292|880)
ATTACK: the humans requested an airstrike by the nato. and get it.
ATTACK: 210 humans vs. 18 zombies. 17 zombies died. humans win. (21420|1980)
DIED: 1 humand died. he ran into a rake. 355 humans alive.
SUPPORT: what has a dogs head, a cats tail, and brains all over its face? A Zombie coming out of the pet store. the zombies get 7 undeads support. 23 zombies alive
SUPPORT: some policemen joined the humans. the humans get 61 people support. 416 humans alive
STATS: humans built a wall around their city. 
STATS: human defense was raised up to 183
ATTACK: humans raid the zombies headerquarter.
ATTACK: 36 humans vs. 18 zombies. 17 zombies died. humans win. (3672|1980)
BORN: 1 human was born. he will be the next bofh. 417 humans alive.
ATTACK: zombies raid a liquoer store. drunken zombies crossing.
ATTACK: 2 zombies vs. 319 humans. 1 zombies died. humans win. (242|58377)
BORN: 1 zombie awaked! coffee at his grave. 6 zombies alive.
ATTACK: zombies raid a pet shop!
ATTACK: 7 zombies vs. 26 humans. 7 zombies died. humans win. (847|4758)
STATUS: HUMANS WIN!
* HUMANS: 417 - FIGHTS WON: 11
* ZOMBIES: 0 - FIGHTS WON: 4
* DAYS: 70
